.wrapperAbout {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  border: 7px solid #fff;
}

.wrapperAbout h3,
.wrapperAbout h2,
.wrapperAbout p {
  width: 100%;
}

.wrapperAbout h2 {
  font-size: 36px;
}

.wrapperAbout a {
  width: 100%;
  height: 1vh;
  text-align: center;
  margin: 5%;
}

.about-categories-list {
  width: 700px;
}

.aboutContinueButton {
  background-color: white;
  width: 200px;
  height: 50px;
  text-align: center;
  border: none;
  font-size: 18px;
  font-family: "value";
  cursor: pointer;
}

.made-by-tbs {
  text-align: center;
}

/* h3.made-by-tbs {
  padding:7%;
} */

.exposition-label{
  max-width: 700px;
  margin: 10%;
}

.bodytext{
  display:flex;
}

.heading-title{
  font-size:16px;
  font-weight: 800;
  line-height: 1.75em;
}

.heading-body{
  font-size:16px;
  margin-left:8%;
  line-height: 1.75em;
}

@media only screen and (max-width: 480px) {
  .wrapperAbout-title {
    font-size: 36px;
  }

  .made-by-tbs{
    font-size: 14px;
  }
}