/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
   */
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: black;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 42px;
}

a {
  color: white;
}

.tbs-logo {
  margin: 20px;
}

.password-input {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shoplink {
  padding-top: 15vh;
  margin: 25px;
}

.input {
  width: 200px;
  height: 50px;
  font-size: 14px;
  text-align: center;

}

.input::placeholder {
  color: black;
  text-align: center;
}

.buttonNew {
  background-color: white;
  width: 200px;
  height: 50px;
  text-align: center;
  border: none;
  font-size: 18px;
  font-family: "value";
}

.password-wrapper {
  width: 100%;
  height: 100vh;
  max-width: 1200px;
  max-height: 1600px;
  margin: auto;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 7px solid #fff;
}

.process-deck-label {
  text-align: center;
}

h1,
h2,
input {
  margin: 1%;
  padding: 2%;
}

/* Mobile Landscape Screen Sizes */
/* @media only screen and (min-width: 480px)  {
      .wrapper {
          background-color: #000;
      }

  } */
/* Desktop screen Sizes */
/* @media only screen and (min-width: 768px) {
    .wrapper {
        background-color: #000;
    }
  } */
